##Python Review

In [ ]:
#Google Colab is a interactive notebook where you can write Code in Python
# In order to run a cell in colab, click the play arrow to execute a block of code!
print("Howdy!")

In [4]:
#Part 1: Data Types

#We can represent data in a variety of ways, and we can store these data points in "variables"

x = 1                     #here "x" is the variable name (which can be named whatever you'd like) and 1 is an INTEGER (int) data type (which is just a whole number)

name = "tidaltamu"        #here "name" is the variable name and "tidaltamu" is a STRING (str) data type (which is just text with single or double quotes around it)

price = 12.99             #12.99 is a FLOATING POINT NUMBER (float) data type (which is just a number with a decimal point)

tidaltamu_is_cool = True  #True is a BOOLEAN (bool) data type (which is just True and False statements)

#you can check the type of a variable by using type()
print(type(name), type(price)) #this will print str for string and float for float

<class 'str'> <class 'float'>

In [7]:
#Part 2: Data Structures

#We can also represent a lot of data in one place, 

prices = [12.99, 11.99, 2.99, "12.00", 1, 20.99] #We can see here that we can have a list of multiple types of data (which is a really nice thing about Python)

#however if we only want a list of floating point numbers we have to make some changes

#we can ITERATE over a list using a FOR LOOP like this...

for i in range(len(prices)):
  print(i, prices[i])

#you can see i starts at 0 and goes to 5. If you say prices[0], thatll reference the first element, prices[1] references the second etc.

0 12.99
1 11.99
2 2.99
3 12.00
4 1
5 20.99

In [8]:
#We don't want 1 and "12.00" is the wrong data type (first one is a int the second is a string)... So lets make some changes

#We will use an IF statement which will execute a code segment underneath it if the statement in the paraenthesis is true

for i in range(len(prices)):

  if (type(prices[i]) != float): #In english, if the type at index i of the list prices is not a float...
    prices[i] = float(prices[i])  #this is called CASTING, in some instances we can convert one data type to another, so the "12.00" should become 12.0 and the 1 should become 1.0
    


#Now lets print each element in the list along with its data type...
for i in range(len(prices)):
  print(prices[i], type(prices[i]))

12.99 <class 'float'>
11.99 <class 'float'>
2.99 <class 'float'>
12.0 <class 'float'>
1.0 <class 'float'>
20.99 <class 'float'>

##Intro to Pandas

In [1]:
#lists are not the best choice when it comes to handling HUGE datasets. So we can IMPORT libraries and borrow other people's code and data structures...

import pandas as pd #import the library pandas
from numpy import nan

df = pd.DataFrame({ 
    "Name" : ["Raiyan", "Conrad", "Conrad", None, "Haris", "John", "Joanna","t.u. Student","Person A", "Person B", "Person C", "Person D", "Person E", "Person F"],
    "Bench Max" : [1000, 1000, 1000, 1000, 1000, 200, 100, 0.5, 120, "howdy", nan, 225, None,210],
    "tidaltamu Member": [True, True, True, True, True, False, False, False,False, False, False, False, False, False]
})

#df is a DataFrame

df.head(10) #view the first 10 rows of the data set

           Name Bench Max  tidaltamu Member
0        Raiyan      1000              True
1        Conrad      1000              True
2        Conrad      1000              True
3          None      1000              True
4         Haris      1000              True
5          John       200             False
6        Joanna       100             False
7  t.u. Student       0.5             False
8      Person A       120             False
9      Person B     howdy             False

In [ ]:
df.drop_duplicates(inplace=True) #removes duplicate entries 

df.dropna(inplace=True) #drop not a number values and None values

df['Bench Max'].map(type) != str #removes any row

Average Bench Max 428.3888888888889
Standard Deviation of the Bench Max 434.08983645221537
Minimum Bench Max 0.5
Maximum Bench Max 1000
Q1 Bench Max 120.0
Q2 Bench Max 210.0
Q3 Bench Max 1000.0

In [ ]:
#prints the mean, standard deviation, and 5 number summary of the data is the "Bench Max Column"

print("Average Bench Max", df["Bench Max"].mean())

print("Standard Deviation of the Bench Max", df["Bench Max"].std())

print("Minimum Bench Max", df["Bench Max"].min())

print("Maximum Bench Max", df["Bench Max"].max())

print("Q1 Bench Max", df["Bench Max"].quantile(.25))

print("Q2 Bench Max", df["Bench Max"].median())

print("Q3 Bench Max", df["Bench Max"].quantile(.75))